html,
body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
}

header {
  position: relative;
  text-align: center;
  padding: 20px;
  color: black;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("/assets/images/skyline.png");
  background-size: cover;
  background-position: center;
  opacity: 0.5;
  z-index: 0;
}

header h1,
header p {
  position: relative;
  z-index: 1;
}

main {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

#introduction,
#reporting-options,
#assurance {
  margin-top: 0.25rem;
}

.choices {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0;
  margin: 10px 0;
  list-style-position: inside;
}

.choices li {
  font-size: 1rem;
  line-height: 1.5;
}

#nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0;
  width: 100%;
  background-color: #b0c4de;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  height: 3em;
}

#nav ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
}

nav a.active {
  font-weight: bold;
}

#nav-logo {
  display: none;
}

#report-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.report-item {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

.report-item strong {
  display: inline-block;
  font-size: 1.1em;
  color: #333;
}

.report-item .status {
  font-weight: bold;
  border-radius: 4px;
}

.report-item .location,
.report-item .timestamp {
  font-size: 0.75em;
  color: #666;
}

.report-item:hover {
  background-color: #f1f1f1;
}

.status-text {
  color: green;
  font-weight: bold;
}

.report-item {
  margin-bottom: 0.5em;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.report-item .location,
.report-item .timestamp {
  margin-top: 5px;
  font-size: 1em;
}

.report-item .status {
  margin-top: 0.5em;
  font-size: 1em;
  color: #333;
}

#footer {
  background-color: #b0c4de;
  padding: 0.25rem;
}

#footer p {
  margin: 0;
  font-size: 0.8rem;
  text-align: center;
}

#map {
  height: 225px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#report-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
}

.notification {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #4caf50;
  color: white;
  padding: 15px;
  border-radius: 5px;
  font-size: 16px;
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.notification.show {
  display: block;
  opacity: 1;
}

input, textarea, fieldset {
  border-radius: 4px;
  border: 1px solid #666;
  padding: 5px;
}

fieldset {
  display: flex;
  justify-content: space-evenly;
}

input[type="radio"] {
  width: 15px;
  height: 15px; 
  border-radius: 50%; 
}

input:focus, select:focus, textarea:focus {
  border-color: #007bff; 
  outline: none;
}

input[type="text"],
textarea,
button {
  font-family: 'Roboto', sans-serif;
}

textarea {
  width: 100%;
  min-height: 2rem;
  /* height: auto; */
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: .25rem;
}

button {
  font-size: 1em;
  padding: 3px;
  background-color: #3a8c5b;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #307a48;
  transform: scale(1.05);
}

/* Tablets: 600px and up */
@media (min-width: 600px) {
  body {
    font-size: 1.125rem;
  }

  #nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
  }

  #nav ul {
    padding-right: 3rem;
  }

  #nav ul a {
    padding-right: 1rem;
  }

  #nav-logo {
    display: block;
    height: 5rem;
    max-width: 100%;
    object-fit: contain;
  }

  .notification {
    font-size: 18px;
    padding: 20px;
  }

  #report-form {
    height: auto;
  }

  #footer p {
    font-size: 1rem;
  }
}

/* Small laptops and large tablets: 768px and up */
@media (min-width: 768px) {
  body {
    font-size: 1.25rem;
  }

  #nav {
    padding: 10px 20px;
    height: auto;
  }

  #home-page section {
    max-width: 90%;
    margin: 0 auto;
  }

  #report-item {
    padding: 15px;
  }
}

/* Laptops and desktops: 1200px and up */
@media (min-width: 1200px) {
  body {
    font-size: 1.5rem;
  }

  #report-page {
    flex-direction: row;
    justify-content: space-around;
  }

  header {
    text-align: center;
  }

  #nav ul {
    justify-content: flex-end;
    gap: 30px;
  }

  #map,
  #report-form,
  #reports-list {
    height: 475px;
  }

  #nav-logo {
    display: block;
    height: 8rem;
    max-width: 100%;
    object-fit: contain;
  }

  .notification {
    font-size: 20px;
  }

  .choices li {
    font-size: 1.1rem;
  }

  #map-section,
  #form-section,
  #reports-section {
    width: 25%;
  }

  .report-item:hover {
    background-color: #f1f1f1;
    transform: scale(1.02);
    transition: 0.2s;
  }

  #footer p {
    font-size: 1.33rem;
  }
}
