/* styles.css */
html,
body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.25;
}

header {
  position: relative;
  text-align: center;
  padding: 1.5rem;
  font-weight: bold;
  background-color: #b0c4de;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("/assets/images/skyline.png");
  background-size: cover;
  background-position: center;
  opacity: 0.5;
  z-index: 0;
}

header h1,
header p {
  position: relative;
  z-index: 1;
}

main {
  flex: 1;
  height: 100%;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

section {
  margin-bottom: 0.5rem;
}

.choices,
.info-list {
  list-style-position: inside;
  line-height: 1.45em;
  padding: 0;
  margin: 0.25rem 0;
}

.info-list {
  padding-left: 1rem;
}

.choices ul {
  list-style-type: disc;
  padding-left: 1rem;
  margin: 0.25rem 0;
}

#nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0.5rem;
  width: 100%;
  background-color: #b0c4de;
  height: 3.5rem;
}

#nav ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  gap: 0.25rem;
}

nav a.active {
  font-weight: bold;
}

#nav-logo {
  height: 3.75rem;
  max-width: 100%;
  object-fit: contain;
}

#report-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1.25rem;
}

.report-item {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 0.625rem;
  margin-top: 0.5em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

.report-item strong {
  display: inline-block;
  font-size: 1.1rem;
}

.report-item .location,
.report-item .timestamp {
  font-size: 1em;
  color: #666;
  margin-top: 0.25rem;
}

.report-item:hover {
  background-color: #f1f1f1;
}

.status-text {
  color: green;
  font-weight: bold;
}

.report-item .status {
  font-weight: bold;
  margin-top: 0.5em;
  font-size: 1em;
  color: #333;
}

#footer {
  background-color: #b0c4de;
  padding: 0.25rem;
}

#footer p {
  margin: 0;
  font-size: 0.8rem;
  text-align: center;
}

#map {
  height: 225px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#report-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
}

.notification {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #4caf50;
  color: white;
  padding: 1rem;
  border-radius: 5px;
  font-size: 1rem;
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.notification.show {
  display: block;
  opacity: 1;
}

input::placeholder,
textarea::placeholder {
  font-size: 1rem;
}

input,
textarea,
fieldset {
  border-radius: 5px;
  border: 1px solid #666;
  padding: 0.25rem;
}

fieldset {
  display: flex;
  justify-content: space-evenly;
}

input[type="radio"] {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

input:focus,
select:focus,
textarea:focus {
  border-color: #007bff;
  outline: none;
}

textarea {
  width: 100%;
  min-height: 2rem;
  height: auto;
  padding: 0.5rem;
  font-size: 1.5rem;
  box-sizing: border-box;
  margin-bottom: 0.25rem;
}

button,
.cta-button {
  font-size: 1em;
  padding: 3px 15px;
  background-color: #3a8c5b;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  margin-top: 0.25rem;
}

button:hover,
.cta-button:hover {
  background-color: #307a48;
  transform: scale(1.05);
}

.cta-button-container {
  text-align: center;
  margin-top: 1.25rem;
}

/* Tablets: 600px and up */
@media (min-width: 600px) {
  body {
    font-size: 1.15rem;
  }

  #nav {
    padding: 10px 1rem;
    height: 6.5rem;
  }

  #nav ul a {
    padding-right: 1rem;
  }

  #nav-logo {
    height: 7rem;
  }

  .notification {
    font-size: 1.125rem;
    padding: 1.125rem;
  }

  #report-form {
    height: auto;
  }

  #footer p {
    font-size: 1rem;
  }
}

/* Small laptops and large tablets: 768px and up */
@media (min-width: 768px) {
  body {
    font-size: 1.25rem;
    line-height: 1.25;
  }

  #nav {
    padding: 10px 2rem;
    height: 7.5rem;
  }

  #nav ul {
    margin-right: 5rem;
    justify-content: flex-end;
    gap: 5rem;
  }

  #nav-logo {
    height: 8rem;
  }

  input::placeholder,
  textarea::placeholder {
    font-size: 1.25rem;
  }

  #home-page section,
  #about-page section {
    margin: 0.25rem 1.5rem;
  }

  .report-item {
    padding: 0.85rem;
  }
}

/* Laptops and desktops: 1200px and up */
@media (min-width: 1200px) {
  body {
    font-size: 1.35rem;
  }

  #report-page {
    flex-direction: row;
    justify-content: space-evenly;
  }

  input::placeholder,
  textarea::placeholder {
    font-size: 1.5rem;
  }

  textarea {
    height: 8rem;
  }

  header {
    padding: 2rem;
  }

  #nav {
    height: 9rem;
    padding: 10px 2.5rem;
  }

  #nav ul {
    margin-right: 7rem;
    justify-content: flex-end;
    gap: 10rem;
  }

  #map,
  #report-form,
  #reports-list {
    height: 520px;
  }

  #nav-logo {
    height: 9.5rem;
  }

  .notification {
    font-size: 1.25rem;
  }

  .choices li,
  .info-list {
    font-size: 1.25rem;
  }

  #map-section,
  #form-section,
  #reports-section {
    width: 30%;
  }

  .report-item:hover {
    background-color: #f1f1f1;
    transform: scale(1.02);
    transition: 0.2s;
  }

  input,
  textarea,
  fieldset {
    padding: 0.5rem;
  }

  #footer p {
    font-size: 1.25rem;
  }
}

/* For devices smaller than 300px */
@media (max-width: 300px) {
  #nav-logo {
    display: none;
  }

  .cta-button {
    display: none;
  }

  main {
    padding: 0.5rem;
  }
}
